/*
 * Import this if you're using tailwindcss/typography.
 */
@layer base {
	/* Defaults for the tailwind Typography plugin. */
	.broth-prose {
		@apply prose prose-pre:my-2 prose-code:before:transform-none prose-code:after:transform-none max-w-none;
	}
}
