/*
 * This file contains defaults that are more opinionated.
 * If you don't want to adopt these, just import all other broth-*.css files except this.
 */
@layer base {
	/* Make all divs are flex-boxes by default. */
	div,
	main {
		@apply relative flex flex-col;
	}
}
